<div class="criar__artigo__container">
    <header>
        <app-header></app-header>
    </header>

    <main>
        <div class="criar__artigo__acoes">
            <button type="button" (click)="mostrarCriarArtigo()">Criar Artigo</button>
            <button type="button" (click)="mostrarPreVisualizacao()">Pré-visualização</button>
        </div><!--criar__artigo__acoes-->

        <section class="criar__artigo__wrapper" *ngIf="mostrarTemplateCriarArtigo">
            <form action="" method="post" (submit)="criarArtigo()">
                <div class="criar__artigo__escolha__tag">
                    <label>Nome da tag</label>
                    
                    <select id="" name="nomeBlocoArtigo" [(ngModel)]="nomeBlocoArtigo">
                        <option value="">Selecione alguma opção</option>
                        <option value="h1">h1</option>
                        <option value="h2">h2</option>
                        <option value="h3">h3</option>
                        <option value="h4">h4</option>
                        <option value="a">a</option>
                        <option value="img">img</option>
                        <option value="p">p</option>
                    </select>
                </div><!--criar__artigo__escolha__tag-->

                <div class="criar__artigo__escolha__posicao">
                    <label>N° da posição</label>

                    <select id="" name="ordem" [(ngModel)]="ordem">
                        <option value="">Selecione alguma opção</option>
                        @if (articlesBlocks.length === 0) {
                            <option value="1">Primeiro bloco</option>
                        }@else{
                            @for (artigosPosicao of artigosEmOrdem; track $index) {
                                @if (artigosPosicao.ordem === 1) {
                                    <option [value]="artigosPosicao.ordem">Atual: {{ artigosPosicao.nomeBlocoArtigo }} - {{ artigosPosicao.conteudoBlocoArtigo }}</option>
                                    <option [value]="artigosPosicao.ordem + 1">Depois de: {{ artigosPosicao.nomeBlocoArtigo }} - {{ artigosPosicao.conteudoBlocoArtigo }}</option>
                                }@else {
                                    <option [value]="artigosPosicao.ordem - 1">Antes de: {{ artigosPosicao.nomeBlocoArtigo }} - {{ artigosPosicao.conteudoBlocoArtigo }}</option>
                                    <option [value]="artigosPosicao.ordem">Atual: {{ artigosPosicao.nomeBlocoArtigo }} - {{ artigosPosicao.conteudoBlocoArtigo }}</option>
                                    <option [value]="artigosPosicao.ordem + 1">Depois de: {{ artigosPosicao.nomeBlocoArtigo }} - {{ artigosPosicao.conteudoBlocoArtigo }}</option>
                                }
                            }
                        }
                    </select>
                </div><!--criar__artigo__escolha__posicao-->

                <div class="criar__artigo__escolha__conteudo">
                    <label>Conteúdo Tag HTML</label>

                    @if (nomeBlocoArtigo === "") {
                        <p>Escolha o nome da tag primeiro!</p>
                    }

                    @if (
                        nomeBlocoArtigo === "h1" ||
                        nomeBlocoArtigo === "h2" ||
                        nomeBlocoArtigo === "h3" ||
                        nomeBlocoArtigo === "h4" ||
                        nomeBlocoArtigo === "p"
                    ) {
                        <input type="text" placeholder="Escreva o conteúdo aqui..." [(ngModel)]="conteudoBlocoArtigo">
                    }

                    @if (nomeBlocoArtigo === "a") {
                        <a [href]="conteudoLink">{{ conteudoBlocoArtigo }}</a>
                        <input type="text" placeholder="Link aqui" [(ngModel)]="conteudoLink">
                        <input type="text" placeholder="Conteúdo do link" [(ngModel)]="conteudoBlocoArtigo">
                    }

                    @if (nomeBlocoArtigo === "img") {
                        <img [src]="conteudoBlocoArtigo" [alt]="conteudoImg">
                        <input type="file" name="" id="" [(ngModel)]="conteudoBlocoArtigo">
                        <input type="text" placeholder="Conteúdo alt e title" [(ngModel)]="conteudoImg">
                    }
                </div><!--criar__artigo__escolha__conteudo-->

                <div class="criar__artigo__form__acoes">
                    <button type="button" (click)="aplicarBlocoArtigoNoArray()">Aplicar</button>
                    <button type="submit">Criar</button>
                    <!--<button type="button">Criar</button>-->
                </div><!--criar__artigo__form__acoes-->
            </form>
        </section><!--criar__artigo__wrapper-->

        <section class="pre__visualizacao__wrapper" *ngIf="!mostrarTemplateCriarArtigo">
            <div class="mostrar__pre__visualizacao">
                <div class="main__mostrar__pre__visualizacao">
                    @for (blocoArtigo of artigosEmOrdem; track $index) {
                        @if (blocoArtigo.nomeBlocoArtigo === "h1") {
                            <h1>{{ blocoArtigo.conteudoBlocoArtigo }}</h1>
                        }

                        @if (blocoArtigo.nomeBlocoArtigo === "h2") {
                            <h2>{{ blocoArtigo.conteudoBlocoArtigo }}</h2>
                        }

                        @if (blocoArtigo.nomeBlocoArtigo === "h3") {
                            <h3>{{ blocoArtigo.conteudoBlocoArtigo }}</h3>
                        }

                        @if (blocoArtigo.nomeBlocoArtigo === "h4") {
                            <h4>{{ blocoArtigo.conteudoBlocoArtigo }}</h4>
                        }

                        @if (blocoArtigo.nomeBlocoArtigo === "a") {
                            <a [href]="blocoArtigo.conteudoLink">{{ blocoArtigo.conteudoBlocoArtigo }}</a>
                        }

                        @if (blocoArtigo.nomeBlocoArtigo === "img") {
                            <img [src]="blocoArtigo.conteudoImg" [alt]="blocoArtigo.conteudoBlocoArtigo">
                        }

                        @if (blocoArtigo.nomeBlocoArtigo === "p") {
                            <p>{{ blocoArtigo.conteudoBlocoArtigo }}</p>
                        }

                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path opacity="0.5" d="M12.75 4C12.75 3.58579 12.4142 3.25 12 3.25C11.5858 3.25 11.25 3.58579 11.25 4L12.75 4ZM11.25 4L11.25 20H12.75L12.75 4L11.25 4Z" fill="#1C274C"></path> <path d="M18 14L12 20L6 14" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                    }
                </div><!--main__mostrar__pre__visualizacao-->
            </div><!--mostrar__pre__visualizacao-->
        </section><!--pre__visualizacao__wrapper-->
    </main>
</div><!--criar__artigo__container-->