.criar__artigo__container{
    padding: 40px 60px;
}

main{
    margin-top: 220px;
}

.criar__artigo__acoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.criar__artigo__acoes > button{
    font-size: 24px;
    font-weight: 600;
    color: #333;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.criar__artigo__acoes > button:hover{
    color: #3333;
}

.criar__artigo__acoes > button:active{
    position: relative;
    top: 1px;
}

.criar__artigo__wrapper{
    margin-top: 100px;
}

form{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.criar__artigo__escolha__tag,
.criar__artigo__escolha__posicao,
.criar__artigo__escolha__conteudo{
    display: flex;
    flex-direction: column;
}

.criar__artigo__escolha__conteudo{
    margin-top: 50px;
}

.criar__artigo__escolha__tag > label,
.criar__artigo__escolha__posicao > label,
.criar__artigo__escolha__conteudo > label{
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 5px;
}

.criar__artigo__escolha__tag > select,
.criar__artigo__escolha__posicao > select,
.criar__artigo__escolha__conteudo > input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    width: 400px;
    outline: 0;
    margin: 0 auto;
}

.criar__artigo__escolha__conteudo > input:nth-of-type(2){
    margin-top: 15px;
}

form > .criar__artigo__form__acoes{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: -200px;
    right: 0px;
}

form > .criar__artigo__form__acoes > button{
    width: 250px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

form > .criar__artigo__form__acoes > button:nth-child(2){
    margin-left: 40px;
}

form > .criar__artigo__form__acoes > button:hover{
    background-color: #44444413;
}

form > .criar__artigo__form__acoes > button:active{
    bottom: -181px;
}

/*pre-visualizacao*/
.mostrar__pre__visualizacao{
    border: 1px solid #333;
    border-radius: 4px;
    margin-top: 100px;
    min-height: 100dvh;
    overflow-y: auto;
    position: relative;
}

.main__mostrar__pre__visualizacao{
    margin-top: 70px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.main__mostrar__pre__visualizacao > h1{
    font-size: 27px;
    font-weight: 700;   
    color: #333;
    margin-bottom: 20px;
}

.main__mostrar__pre__visualizacao > h2{
    font-size: 24px;
    font-weight: 600;   
    color: #333;
    margin-bottom: 20px;
}

.main__mostrar__pre__visualizacao > h3{
    font-size: 21px;
    font-weight: 500;   
    color: #333;
    margin-bottom: 20px;
}

.main__mostrar__pre__visualizacao > h4{
    font-size: 18px;
    font-weight: 400; 
    color: #333;  
    margin-bottom: 20px;
}

.main__mostrar__pre__visualizacao > a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;   
}

.main__mostrar__pre__visualizacao > img{
    width: 500px;
    height: 500px;
    object-fit: contain;
    object-position: center;
    border-radius: 2px;
    margin-bottom: 20px;
}

.main__mostrar__pre__visualizacao > p{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #333;
    margin-bottom: 20px;
}

.main__mostrar__pre__visualizacao > svg{
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
}

/*media queries*/
@media (width <= 1521px){
    main{
        margin-top: 180px;
    }

   form > .criar__artigo__form__acoes{
        align-items: center;
        justify-content: center;
        margin-bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
   }

   .criar__artigo__escolha__posicao{
        margin-top: 30px;
   }
}

@media (width <= 860px){
    .criar__artigo__container{
        padding: 40px 20px;
    }

    form{
        display: flex;
        flex-direction: column;
    }
}

@media (width <= 660px){
    main{
        margin-top: 120px;
    }

    form >.criar__artigo__form__acoes{
        display: flex;
        flex-direction: column;
    }

    form >.criar__artigo__form__acoes > button:nth-child(2){
        margin-left: 0;
        margin-top: 20px;
    }

    @media (width <= 480px){
        .criar__artigo__acoes{
            flex-direction: column;
        }

        .criar__artigo__acoes > button:nth-child(2){
            margin-top: 30px;
        }
    }

    .criar__artigo__wrapper{
        margin-top: 50px;
    }
}

@media (width < 460px){
    .criar__artigo__escolha__tag > select,
    .criar__artigo__escolha__posicao > select,
    .criar__artigo__escolha__conteudo > input{
        max-width: 90%;
    }
}